<form [formGroup]="form">
<div class="container">
  <h1>update student</h1>
  <hr>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="form-group">
        <input (keyup.enter)="finduser()" formControlName="id" type="text" placeholder="student id" class="form-control">
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="form-group">
        <input formControlName = "name" type="text" placeholder="student name" class="form-control">
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="form-group">
        <input formControlName = "address" type="text" placeholder="student address" class="form-control">
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="form-group">
        <input formControlName = "salary" type="number" placeholder="student salary" class="form-control">
      </div>
    </div>
    <div class="col-12" style="display:flex; justify-content: flex-end">
      <button class="btn btn-info" type="button" (click)="updateStudent()">Update Student</button>
    </div>
  </div>
</div>
</form>

