<button class="btn" routerLink="/save" routerLinkActive="active">Save Student</button>&nbsp; | &nbsp;
<button class="btn" routerLink="/find" routerLinkActive="active">Find Student</button>&nbsp; | &nbsp;
<button class="btn" routerLink="/update" routerLinkActive="active">Update Student</button>&nbsp; | &nbsp;
<button class="btn" routerLink="/delete" routerLinkActive="active">Delete Student</button>&nbsp; | &nbsp;
<button class="btn" routerLink="/find-all" routerLinkActive="active">All Students</button>&nbsp; | &nbsp;
<button class="btn" routerLink="/search-all" routerLinkActive="active">Search All Students</button>
<hr>
<router-outlet></router-outlet>
